<!doctype html>
<html lang="en">

<head>
  <link href="/images/Cloud.png" rel="icon">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="css/style.css" rel="stylesheet">
</head>

<body>

  {{>Header}}


  <div class="content">
    <div>
      <p class="titleText">Home/{{Title}}</p>
      <img class="aboutImage" src="images/1.jpg">
      <p style="font-weight: bold;">Developer</p>
    </div>
  </div>

  {{>Footer}}


</body>

</html>